$color-placeholder: #bdbdbd;
$color-transparent: #bfbfbf;

$max-width: 1100px;
$query-850: 800px;
$query-550: 600px;
$query-tablet: 700px;
$color-violet: #5332e6;
$color-violet-hover: #937eef;
$color-text-cancel: #6260eb;
$color-header: #292d3e;
$color-border: #3a3e4d;
$color-hover-wallet: #4b4f5d;
$border-color-red: #89344c;
$content-color-red: #482f42;
$icon-color-red: #ee5a74;
$gray-color-text: #d4d5d8;
$color-border-key: #3a3e4d;
$color-background-key: #303448;
$color-login: #2c2a57;
$border-login: #33248c;
