@import './mixins/mixin.scss', './variables/variables.scss',
  './reset/reset.scss', './atoms/button.scss', './atoms/input.scss',
  './molecules/create.scss';

.body {
  background: $color-header;
  height: 100%;
  @include flex(column, nowrap, space-between, center, 0);
  &__container {
    width: 100%;
    @include flex(column, nowrap, space-between, center, 0);
  }
  &__children {
    width: 100%;
    flex-grow: 1;
    display: flex;
  }
}
#__next {
  height: 100%;
}
.main {
  color: #fff;
  width: 100%;
  height: 100%;
  background: $color-header;
  @include flex(column, nowrap, flex-start, center, 0);
  @include responsive($query-850) {
    @include flex(column, nowrap, flex-start, center, 0);
  }
  &__wallets {
    @include flex(column, nowrap, center, center, 2em);
  }
  &__h1 {
    padding: 1em 0;
    font-size: 2.5em;
    text-align: center;
  }
  &__container {
    width: 100%;
    height: 100%;
    @include flex(column, nowrap, center, center, 2em);
    max-width: $max-width;
  }
}
.layout {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  &__nav--bottom {
    display: none;
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    @include responsive($query-550) {
      display: block;
    }
  }
}
